<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="common/layout">
    <head>
        <title th:text="#{'app.name'}">Page Title</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h3>Lorem ipsum</h3>
            <article>
                Lorem ipsum dolor sit amet eleifend justo vel ipsum primis in faucibus augue. Aenean mollis ultrices,
                velit non ante ipsum dolor a adipiscing vitae, faucibus lorem, iaculis et, congue arcu vitae odio et malesuada dolor.
                Praesent lacinia id, mattis a, blandit non, tristique senectus et ultrices tortor risus, euismod rutrum, enim diam,
                viverra et, vehicula ullamcorper, enim sed est et arcu. Duis luctus, ante ipsum primis in erat id felis. Aliquam vel risus.
                Aliquam feugiat facilisis est sem, posuere sed, suscipit dui non nunc. Nunc a lacus. Quisque pharetra, urna fringilla faucibus,
                quam. Aliquam fringilla, justo vel pede. In lacinia ut, consectetuer arcu sed libero. Maecenas id felis. Nam quis ante.
                Curabitur magna auctor congue vel, sapien. Vestibulum ante et magnis dis parturient montes, nascetur ridiculus mus.
                Fusce in ornare euismod. Ut wisi vel neque gravida turpis. Integer mi vel wisi. Phasellus ac erat. Aliquam ut felis.
                Mauris auctor nibh, imperdiet convallis. Suspendisse luctus diam. Phasellus vulputate et, congue fringilla erat.
                Sed quam leo, in faucibus erat. Duis non sem. Quisque justo a metus. Nullam pharetra varius. Quisque in orci.
            </article>
        </div>
    </body>
</html>
