<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="common/layout">
    <head>
        <title th:text="#{'list'}">Page Title</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <h3 th:text="#{'list'}"/>
                <table width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>CREATE DATE</th>
                            <th>MODIFY DATE</th>
                            <th>VERSION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${itemList}">
                            <td th:text="${item.id}"/>
                            <td th:text="${item.name}"/>
                            <td th:text="${item.createDate}"/>
                            <td th:text="${item.modifyDate}"/>
                            <td th:text="${item.version}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
